{% extends "base_members.html" %}
{% block subtitle %}Member Project Services - {% endblock %}
{% block submenuselection %}Services{% endblock %}
{% block content %}

<h1>Member Project Services</h1>

<p>Conservancy assists FLOSS project leaders by handling all matters other
  than software development and documentation, so the developers can focus
  on what they do best: improving the software for the public good.  The
  following are the services and options that are available to FLOSS
  projects that have joined Conservancy as a member project.</p>

<h2>Tax-Deductible, Earmarked Donations</h2>

<p>Member projects can receive earmarked donations through Conservancy.
   Since Conservancy is a 501(c)(3) charity incorporated in New York,
   donors can often deduct the donation on their USA taxes.  Additionally,
   the donors can indicate that their donation should be used to advance a
   specific member project, and those funds are kept in a separate account
   for the member project by Conservancy.  This structure prevents
   developers from having to commingle project funds with their own
   personal accounts or having to set up their own project specific
   account.</p>

   <p>Since the Conservancy is a tax-exempt organization, there are some
   limits that the law places on what member projects can do with their
   assets, but those limits are the same as if the project was an
   independent non-profit entity.  Usually, the project leadership
   instructs Conservancy's leadership on how the project's funds are spent.
   Conservancy spends these funds on the project's behalf on any expenses
   that constitute appropriate activity under Conservancy's 501(c)(3)
   not-for-profit mission.  Some typical uses of earmarked donations by
   Conservancy's member projects are:
<ul>
<li>funding travel expenses for project developers to attend relevant
  conferences.</li> 

<li>domain name fees, bandwidth costs, and computer equipment
  purchases.</li>

<li>purchasing media for distribution of project software at conferences
  and events.</li>

<li>paying key developers on a contractual basis to improve the project's
  software and its documentation.</li>

<li>sponsoring and organizing conferences for the project.</li>
 
<li>trademark registration and enforcement.</li>

<li>FLOSS license enforcement and compliance activity.</li>
</ul>

</p>

<h2>Asset Stewardship</h2>

<p>Conservancy can hold any assets for the project on its behalf.  This
  includes copyrights, trademarks, domain names, physical computer
  equipment or anything that should be officially held in the name of the
  project.  Member projects are not required that Conservancy hold all
  assets of a project. (For example, member projects are
  not <em>required</em> to assign copyrights to the Conservancy.)
  However, Conservancy can accommodate the needs of projects that want
  their assets under the control of a not-for-profit entity and exercised
  only for the public good.</p>

<h2>Contract Negotiation and Execution</h2>

<p>Projects sometimes need to negotiate and execute a contract with a
  company.  For example, when a project wants to organize and run a
  conference, the venue usually has a complicated contract for rental of
  the space and services.  Conservancy assists projects in the negotiation
  of such contracts, and can sign them on behalf of the project.</p>

<h2>Conference Logistical Support</h2>

<p>Many Conservancy projects have an annual conference.  Conservancy
  provides logistical support for these conferences, particularly in the
  area of financial responsibility and liability.  Conservancy provides a
  small amount of logistical support for conference in other ways,
  resource-permitting.</p>

<h2>Basic Legal Advice and Services</h2>

<p>Since projects, upon joining, become organizationally part of
  Conservancy, Conservancy can provide basic legal services to its member
  projects through Conservancy's own General Counsel, outside counsel, and
  pro-bono attorneys.  For example, Conservancy assists its projects in
  handling issues related to trademark registration, trademark policy
  development and licensing, trademark enforcement, copyright licensing
  and enforcement, and non-profit governance questions and issues.</p>

<h2>FLOSS Copyright License Enforcement</h2>

<p>Complying with FLOSS licenses is easy, as they permit and encourage
  both non-commercial and commercial distribution and improvements.
  Nevertheless, violations of FLOSS licenses (in particular of
  the <a href="http://www.gnu.org/licenses/gpl.html">GPL</a>
  and <a href="http://www.gnu.org/licenses/lgpl.html">LGPL</a>) are all
  too common.  At request of the project's leaders, Conservancy can carry
  out license enforcement activity on behalf of the project's copyright
  holders.</p>

<h2>Fundraising Assistance</h2>

<p>Conservancy provides various tools and advice to member projects on
  methods of raising funds for their projects' earmarked accounts.</p>

<h2>Avoid Non-Profit Administrivia</h2>

<p>Member projects can continue to operate in the same way they did before
joining the Conservancy without having to select a board of directors or
any other layer of corporate management, without having to maintain
corporate records and without having to do any of the other things
required of incorporated entities.  The Conservancy handles all of that
burden on behalf of its projects.</p>


<h2>Leadership Mentoring, Advice and Guidance</h2>

<p>Many of Conservancy's <a href="/about/board">directors</a> are
  experienced FLOSS project leaders.  They offer themselves as a resource
  to member project leaders who need assistance or face challenges in
  their work leading their projects.</p>

<h2>Some Personal Liability Protection</h2>

<p>When a project joins Conservancy, it formally becomes part of the
  Conservancy. (The project is thus somewhat analogous to a division of a
  company or a department in a large agency.)  As such, project leaders
  benefit from some amount of protection from personal liability for their
  work on the project.</p>

<hr/>

<p>Those familiar with non-profit terminology will recognize most of these
  services
  as <a href="http://en.wikipedia.org/wiki/Fiscal_sponsorship">fiscal
  sponsorship services</a>.  This term is not particularly well
  known in the FLOSS community, and many are confused by that term.
  However, if you are familiar with what a fiscal sponsor typically does
  in the non-profit sector, the term does fit many of services that
  Conservancy offers its member projects.</p>

<p>Project
leaders that believe their project might benefit from these services can
<a href="/members/apply/">apply to become a member project</a>.</p>
{% endblock %}
