{% extends "base_conservancy.html" %}
{% block subtitle %}Sponsors - {% endblock %}
{% block category %}sponsors{% endblock %}
{% block content %}

<h1>Conservancy's Sponsors</h1>

<p>Conservancy relies on donations from the general public to support its
work, and asks everyone <a href="/donate">to donate generously</a>.
The sponsors listed below (in alphabetical order) have donated
substantially in the past twelve months to support the ongoing work of
Conservancy.  These sponsors support our work through financial
contributions.  Conservancy graciously thanks these sponsors for their
support, but doesn't necessarily endorse nor promote any specific activity
of any of its sponsors.</p>

<ul id="sponsor">
<li id="sponsor"><a href="http://www.blackducksoftware.com/"><img src="/img/sponsors/black-duck.jpg" height="51" width="230" alt="Black Duck" /></a></li>
<li id="sponsor"><a href="http://gandi.net"><img src="/img/sponsors/gandi.png" height="65" width="171" alt="Gandi.Net" /></a></li>
<li id="sponsor"><a href="http://google.com"><img src="/img/sponsors/google.png" height="76" width="238" alt="Google" /></a></li>
<li id="sponsor"><a href="http://linuxfoundation.org"><img src="/img/sponsors/linuxfoundation.png" height="76" width="250" alt="Linux Foundation" /></a></li>
</ul>

<!-- This section will be added when we have in-kind contributions -->

<!-- <h3>In-Kind Donation of Services</h3> -->

<!-- <p>Conservancy would also like to thank the following companies who have -->
<!--   donated services and/or resources in-kind to support Conservancy's -->
<!--   work.</p> -->

<!-- <ul> -->
<!-- </ul> -->
{% endblock %}
