{% extends "base_about.html" %}
{% block subtitle %}Staff - {% endblock %}
{% block submenuselection %}Staff{% endblock %}
{% block content %}
<h1>Staff</h1>

<h2>Bradley M. Kuhn - Executive Director</h2>
<a id="bkuhn"></a>
<p>Bradley M. Kuhn began his work in the Free Software Movement as a
volunteer when, in 1992, he became an early adopter of the popular
GNU/Linux operating system, and began contributing to various Free
Software projects.  He worked during the 1990s as a system administrator
and software development consultant for Westinghouse, Lucent Technologies,
and numerous small companies.  He also spent one year teaching Advanced
Placement Computer Science (using GNU/Linux and GCC) at Walnut Hills High
School in Cincinnati.  In January 2000, he was hired by the Free Software
Foundation (FSF), and he served as its Executive Director from March 2001
until March 2005, when he left FSF to join the Software Freedom Law Center
(SFLC), where he worked as SFLC's Policy Analyst and Technology Director from
2005 until October 2010, when he joined Conservancy as its Executive
Director.  Kuhn holds a summa cum laude B.S. in Computer Science from
Loyola College in Maryland, and an M.S. in Computer Science from the
University of Cincinnati.  His Master's thesis discussed methods for
dynamic interoperability of Free Software languages.</p>

<h2>Tony Sebro - General Counsel</h2>
<a id="tony"></a>
<p>Tony Sebro is a seasoned technology attorney with a broad base of
business and legal experience relating to technology, strategy, and
business development.  Before joining Conservancy, Tony was most recently
a Partner with the PCT Companies, a family of professional service firms.
Prior to that, he was Program Director, Technology &amp; Intellectual
Property at IBM's Armonk, New York world headquarters, where he was
responsible for developing and executing licensing strategies in
partnership with IBM's Software Group.  In that role, Tony led
negotiations and structured deals with market leaders in the web
technology, e-commerce, retail, enterprise software, and financial
services sectors.  Tony also led various internal strategic initiatives,
including an effort to provide business leaders of key emerging market
opportunities with coordinated intellectual property development and
monetization strategies, as well as the revamping and supervision of IBM's
corporate-wide process for determining the value and availability of
patents for sale.  Prior to his tenure at IBM, Mr. Sebro practiced law in
the New York office of Kenyon &amp; Kenyon, LLP, handling litigation and
licensing matters for clients in the medical, pharmaceutical and
mechanical technology areas.  Tony received his J.D. and his M.B.A. from
the University of Michigan.  He received his B.S. from the Massachusetts
Institute of Technology. Tony is a member of the New York bar and
registered to practice before the U.S. Patent and Trademark Office. Tony
is also an active participant in and supporter of the non-profit
community, and has served on the boards of multiple non-profit
organizations.</p>

<h2>Denver Gingerich - FLOSS License Compliance Engineer</h2>
<a id="denver"></a>

<p>
Denver works part-time managing the technical side of Conservancy's
license compliance work, triaging new reports and verifying complete and
corresponding source (C&amp;CS).  His roles elsewhere have recently
included financial trading software development on GNU/Linux and
previously involved writing system software for hardware companies,
including driver writing for the kernel named Linux at ATI (now AMD) and
Qualcomm.  He founded a company that designs and builds magnetic stripe
readers for security hobbiests where he designed the hardware and
developed the device's tools and firmware, which are both free software.
Denver also writes free software in his spare time, with patches accepted
into Wine, the kernel named Linux, and GNU wdiff.  Denver received his
BMath in Computer Science from the University of Waterloo.  He gives presentations
about digital civil rights and protecting the free software ecosystem,
having spoken at conferences such as CopyCamp Toronto, FOSSLC's
Summercamp, and the Open Video Conference.</p>

{% endblock %}
