{% extends "base_about.html" %}
{% block subtitle %}Outside Counsel &amp; Contractors - {% endblock %}
{% block submenuselection %}Outside{% endblock %}
{% block content %}
<h1>Outside Counsel</h1>

<h2>Olivier Hugot - Of Counsel, France</h2>

<p>Olivier Hugot is a member of the New York (2003) and Paris (2004) Bars.
He advises and represents French and foreign companies in the areas of
Internet, luxury and creation. He assists many innovative Internet
entrepreneurs and companies, both in formalizing their projects as well as
in development during fundraising.</p>

<p>He advises clients in connection with the protection and exploitation
of their rights in compliance with the constantly evolving internet
regulations. Olivier has extensive experience in the practical and legal
problems of the internet, both with counseling and litigation.  He has
also developed a particular expertise in the legal aspects of free
culture.</p>

<p>Olivier has presented his work at a number of conferences, particularly
pertaining to free licenses (GNU/GPL, Creative Commons) as well at Wikimania
2008, the annual international conference of the Wikimedia Foundation. Olivier
is also a masters instructor at the University of Paris I La Sorbonne and a
+member of the associations INTA and IAEL.</p>

<h2>Daniel B. Ravicher - Litigation Counsel</h2>

Daniel B. Ravicher is a Lecturer in Law at Benjamin N. Cardozo School of
Law.  He has published numerous legal articles and given dozens of
presentations regarding Free and Open Source Software legal issues and
served as lead counsel for free and open source software developers in the
only GPL enforcement lawsuits ever brought in the United States.
Professor Ravicher has been labeled a modern day &lsquo;Robin Hood&rsquo;
by Science magazine, awarded an Echoing Green Fellowship for social
entrepreneurship, named to both Managing Intellectual Property magazine's
&lsquo;50 Most Influential People in IP&rsquo; list and IP Law &amp; Business
magazine's &lsquo;Top 50 Under 45&rsquo; list and twice invited to testify
before Congress on issues of technology legal policy.  Professor Ravicher
received his law degree from the University of Virginia School of Law,
where he was the Franklin O'Blechman Scholar of his class, a Mortimer
Caplin Public Service Award recipient and an Editor of the Virginia
Journal of Law and Technology, and his bachelors degree in materials
science magna cum laude with University Honors from the University of
South Florida.  Professor Ravicher writes for The Huffington Post and
Seeking Alpha and is admitted to the United States Supreme Court, the
Courts of Appeals for the Federal, 2nd and 11th Circuits, the District
Courts for the Southern and Eastern Districts of New York, the State of
New York, and the United States Patent and Trademark Office.
Professor Ravicher is also the Executive Director
of  <a href="http://pubpat.org">the Public Patent Foundation</a>.
</p>

<h2>Karen Sandler - Pro Bono Counsel</h2>
<a id="karen"></a>
<p>Karen M. Sandler is currently the Executive Director of the GNOME
  Foundation and prior to taking up this position was General Counsel of
  the Software Freedom Law Center (SFLC). Karen continues to do pro bono
  legal work with Conservancy, SFLC, and Question Copyright and serves
  as <a href="/about/officers#karen">an officer of both the Conservancy</a>
  and SFLC.  Before joining SFLC, Karen worked as an associate in the
  corporate departments of Gibson, Dunn & Crutcher LLP in New York and
  Clifford Chance in New York and London. Karen received her law degree
  from Columbia Law School in 2000, where she was a James Kent Scholar and
  co-founder of the Columbia Science and Technology Law Review. Karen
  received her bachelor’s degree in engineering from The Cooper Union. She
  is a recipient of an O'Reilly Open Source Award and also co-host of
  the <a href="http://faif.us">&ldquo;Free as in Freedom&rdquo;
  podcast</a>.</p>


<h1>Contractors</h1>

<h2>Paul Visscher - Compliance Engineering &amp; System Administration Contractor</h2>

<p>Paul Visscher was first exposed to the Free Software Movement in late
1997. Paul has been a professional system administrator for most of his
adult life, focusing primarily on GNU/Linux based systems.  He began
contracting with the Software Freedom Law Center on Compliance Engineering
in December 2009 and continued his Compliance Engineering work with the
Conservancy beginning in October 2010. He is actively involved in his
local GNU/Linux user group, as well various local programming groups.  He
is a former Chief Webmaster and a former volunteer system administrator
for the GNU project.</p>

<h1>Directors Emeritus</h1>

<p><em>Directors Emeritus of the Software Freedom Conservancy are former
    members of Conservancy's <a href="/about/board/">Board of
    Directors</a> who continue to support Conservancy's mission and
    occasionally advise Conservancy.</em</p>


<h2>Ian Lance Taylor - Director Emeritus</h2>

<p>Ian Lance Taylor began working with free software in 1990.  He wrote
the popular free Taylor UUCP package and has contributed to a wide range
of free software projects, particularly the GNU compiler and binary
utilities.  He worked with free software at Cygnus Solutions, Zembu Labs,
Wasabi Systems, and C2 Microsystems, and currently does GNU compiler and
tools development at Google.  He received a B.S. in Computer Science from
Yale University.</p>

<h2>Tom Tromey - Director Emeritus</h2>

<p>Tom Tromey started working on free software in 1991.  He was the
primary author of GNU Automake, and has also worked on a wide range of
other free software projects.  He is currently a maintainer of GNU gcj and
works at Red Hat.  He received a B.S. in mathematics from the California
Institute of Technology.</p>

{% endblock %}
