{% extends "base_about.html" %}
{% block subtitle %}About - {% endblock %}
{% block submenuselection %}Filings{% endblock %}
{% block content %}

<h1>Public Filings</h1>

<p>Like all USA 501(c)(3) non-profits, the Conservancy files an annual Form 990 and,
as a non-profit in the State of New York, files an annual CHAR-500 with
New York State.  Below, Conservancy makes available these filings for
public inspection, in reverse chronological order:</p>

<p>
<ul>
<li>Fiscal Year 2011
<p>Conservancy's FY 2011 ended on 2012-02-29.  Conservancy's current filing
  deadline for FY 2011 Form 990 and CHAR-500 is 2013-02-01.</p>

<p>Specifically, Conservancy's initial deadline for the was 2012-07-16.
  The <a href="http://www.charitiesnys.com/RegistrySearch/getcontent?guid={29B7D0B8-0C86-4F99-A910-E30D59E4DCF7}&orgid=40-39-09&title=Extension&project=Charities">IRS
  and NYS granted</a> Conservancy's
  <a href="http://www.charitiesnys.com/RegistrySearch/getcontent?guid={2E621422-4DBA-4FC9-9BD1-5633ADD1F3A4}&orgid=40-39-09&title=Extension&project=Charities">application</a>
  for a three-month filing extension until 2012-10-15.  On
  2012-09-25, the IRS additionally granted a second three-month filing
  extension until 2013-01-15.  Finally, the <a href="http://www.irs.gov/uac/Newsroom/IRS-Provides-Tax-Relief-to-Victims-of-Hurricane-Sandy;-Return-Filing-and-Tax-Payment-Deadline-Extended-to-Feb.-1,-2013">IRS unilaterally granted
  deadline extensions for all counties impacted by Hurricane Sandy</a> until 2013-02-01.</p>
</li>
<li>Fiscal Year 2010
<ul>
<li><a href="/docs/conservancy_Form-990_fy-2010.pdf">FY 2010 Federal Form 990 (PDF)</a></li>
<li><a href="/docs/conservancy_CHAR-500_fy-2010.pdf">FY 2010 New York State CHAR-500 (PDF)</a></li>
<li><a href="/docs/conservancy_independent-audit_fy-2010.pdf">FY 2010 Independent Auditor's Report (PDF)</a></li>
</ul>
</li>
<li>Fiscal Year 2009
<ul>
<li><a href="/docs/conservancy_Form-990_fy-2009.pdf">FY 2009 Federal Form 990 (PDF)</a></li>
<li><a href="/docs/conservancy_CHAR-500_fy-2009.pdf">FY 2009 New York State CHAR-500 (PDF)</a></li>
</ul>
</li>
<li>Fiscal Year 2008
<ul>
<li><a href="/docs/conservancy-form-990-fy-2008.pdf">FY 2008 Federal Form 990 (PDF)</a></li>
<li><a href="/docs/conservancy-CHAR-500-fy-2008.pdf">FY 2008 New York State CHAR-500 (PDF)</a></li>
</ul>
</li>
<li>Fiscal Year 2007
<ul>
<li><a href="/docs/conservancy_Form-990_fy-2007.pdf">FY 2007 Federal Form 990 (PDF)</a></li>
<li><a href="/docs/conservancy_CHAR-500_fy-2007.pdf">FY 2007 New York State CHAR-500 (PDF)</a></li>
</ul>
</li>
<li>Fiscal Year 2006
<ul>
<li><a href="/docs/conservancy_CHAR-500_fy-2006.pdf">FY 2006 New York State CHAR-500 (PDF)</a></li>
<li><a href="/docs/conservancy_Form-1023.pdf">Form 1023, as filed in
    September 2006</a></li>
<li><a href="/docs/conservancy_certificate-of-incorporation.pdf">Certificate
    of Incorporation, as granted by New York on 7 April 2006.</a></li>
<li><a href="/docs/conservancy_by-laws.pdf">Conservancy's By-Laws, as filed with the
    incorporation documents, and as approved by New York on 7 April 2006.</a></li>
</ul>
</li>
</ul></p>
{% endblock %}
