{% extends "base_conservancy.html" %}
{% block subtitle %}Overview - {% endblock %}
{% block category %}overview{% endblock %}
{% block content %}

<h1>Overview</h1>

<p>Software Freedom Conservancy is a not-for-profit organization that
  helps promote, improve, develop, and defend Free, Libre, and Open Source
  Software (FLOSS) projects.  Conservancy provides a non-profit home and
  infrastructure for FLOSS projects.  This allows FLOSS developers to
  focus on what they do best &mdash; writing and improving FLOSS for the
  general public &mdash; while Conservancy takes care of the projects' needs that
  do not relate directly to software development and documentation.</p>

<p>FLOSS projects whose <a href="/members/apply">applications are
    accepted</a> become part of the Software Freedom Conservancy
    (akin to a separate department of a large agency).  Once joined, the
    <a href="/members">&ldquo;member project&rdquo;</a> receives most of
    the benefits of existing as a non-profit corporate entity without
    engaging in the arduous work of forming a separate, new organization.
    Conservancy aggregates the work of running a FLOSS non-profit
    for <a href="/members/current/">its many members</a>.</p>

<p>Conservancy provides <a href="/members/services/">many important services</a> for its
  member projects.  Member projects can take directed donations, which
  allows donors to earmark their donations for the benefit of a specific
  FLOSS project.  Conservancy provides fiscal oversight to ensure that
  these funds are spent in a manner that advances the project and fits
  with Conservancy's 501(c)(3) mission to promote, advance, and defend software freedom.</p>

<p>If the member project's leaders want, Conservancy can also hold other
  assets and titles on behalf of the projects, such as copyrights,
  trademarks, domain names, online hosting accounts, and title and ownership
  of physical hardware.  Also at discretion of the project's leaders,
  Conservancy can assist in defending the rights represented in these
  assets.  For example, Conservancy is available to assist member projects
  in enforcing the terms of the projects' FLOSS license.</p>

<p>Finally, developers of Conservancy's member projects, when operating in
  their capacity as project leaders, could receive some protection from personal
  liability for their work on the project.</p>

<p>For further reading on the benefits of Conservancy, a full and detailed <a href="/members/services/">list of Conservancy's
  services for its member projects</a> and a <a href="/members/current/">a
  list of Conservancy's current member projects</a> are available.</p>

<p>Conservancy and
  its <a href="/about/board">directors</a>, <a href="/about/officers">officers</a>,
  and <a href="/about/staff">staff</a> believe strongly in the principles
  of software freedom, and believe that all users should have the right to
  study, improve and share their software.  Conservancy helps protect,
  enable, coordinate, facilitate and defend the public's right to copy,
  share, modify and redistribute FLOSS both non-commercially and
  commercially.  Finally, like most organizations devoted to FLOSS,
  Conservancy opposes the notion of patents that cover software, and urges
  contributors to its member projects not to apply for patents.</p>

{% endblock %}
