{% extends "base_about.html" %}
{% block subtitle %}Directors - {% endblock %}
{% block submenuselection %}Directors{% endblock %}
{% block content %}

<h1>Directors</h1>

<p>Like many non-profits, Conservancy is directed by a
self-perpetuating Board of Directors, who
appoint <a href="/about/officers/">Officers</a> to carry out the
day-to-day operations of the organization.  The Directorship of the
Conservancy includes both talented non-profit managers and experienced
FLOSS project leaders who can both guide the administrative operations of
the organization as well as mentor member project leaders as needed.  Our
Directors constantly search for additional directors who can contribute a
variety of expertise and perspective related to the Conservancy's
mission.</p>

<p>Currently, the directors of Conservancy are:</p>

<h2>Jeremy Allison</h2>

<p>Jeremy Allison is one of the lead developers on the Samba Team, a
group of programmers developing an Open Source Windows compatible file
and print server product for UNIX systems. Developed over the Internet
in a distributed manner similar to the Linux system, Samba is used by
all Linux distributions as well as many thousands of corporations and
products worldwide. Jeremy handles the co-ordination of Samba
development efforts and acts as a corporate liaison to companies using
the Samba code  commercially.</p>

<p>He works for Google, Inc. who fund him to work on improving Samba and
solving the problems of  Windows and Linux interoperability.</p>

<h2>Peter Brown</h2>

<p>Peter Brown has worked in non-profit management and finance for more
   than twenty years. He served as the Executive Director of the Free
   Software Foundation from 2005 until 2011, and previously as its
   Financial Controller and GPL Compliance Lab Manager. Peter has also
   been a Director of New Internationalist Publications Cooperative, and
   worked in London for BBC Network Radio.</p>

<h2>Lo&iuml;c Dachary</h2>

<p>Lo&iuml;c Dachary has been involved with Free Software since 1987 when he
started distributing GNU tapes to the general public in France.  His first
contact was with GNU Emacs and in 1989 with GCC which he used to port a
Unix System V kernel to a embeded motorola 68030 motherboard.  He
currently works as a developer
for <a href="http://outflop.me/">OutFlop</a>, a company providing services
and software to operate poker rooms.  He
created <a href="http://savannah.gnu.org/">Savannah</a>, the GNU forge, in
2001 to provide a Free alternative to proprietary forges. As a president
of FSF France, he provides technical and legal resources to French Free
Software developers. Loic Dachary is also a honorary member
of <a href="http://april.org/">APRIL</a> since 1996, a French non-profit
dedicated to Free Software with over 5,500 members.</p>

<h2>Mark Galassi</h2>

<p>Mark Galassi has been involved in the GNU project since 1984. He
currently works as a researcher in the International, Space, and Response
division at Los Alamos National Laboratory, where he has worked on the
HETE-2 satellite, ISIS/Genie, the Raptor telescope, the Swift satellite,
and the muon tomography project. In 1997 Mark took a couple of years off
from Los Alamos (where he was previously in the ISR division and the
Theoretical Astrophysics group) to work for Cygnus (now a part of Red Hat)
writing software and books for eCos, although he continued working on the
HETE-2 satellite (an astrophysical Gamma Ray Burst mission) part
time. Mark earned his BA in Physics at Reed College and a PhD from the
Institute for Theoretical Physics at Stony Brook. </p>

<h2>Bradley M. Kuhn</h2>

<p>Bradley M. Kuhn began his work in the Free Software Movement as a
volunteer when, in 1992, he became an early adopter of the popular
GNU/Linux operating system, and began contributing to various Free
Software projects.  He worked during the 1990s as a system administrator
and software development consultant for Westinghouse, Lucent Technologies,
and numerous small companies.  He also spent one year teaching Advanced
Placement Computer Science (using GNU/Linux and GCC) at Walnut Hills High
School in Cincinnati.  In January 2000, he was hired by the Free Software
Foundation (FSF), and he served as its Executive Director from March 2001
until March 2005, when he left FSF to join the Software Freedom Law Center
(SFLC), where he worked as SFLC's Policy Analyst and Technology Director from
2005 until October 2010, when he joined Conservancy as its Executive
Director.  Kuhn holds a summa cum laude B.S. in Computer Science from
Loyola College in Maryland, and an M.S. in Computer Science from the
University of Cincinnati.  His Master's thesis discussed methods for
dynamic interoperability of Free Software languages.</p>

<h2>Stormy Peters</h2>

<p>Stormy Peters is Head of Developer Engagement at Mozilla. She is
passionate about open source software and educates companies and
communities on how open source software is changing the software
industry. She is a compelling speaker who engages her audiences during
and after her presentations and frequently speaks on business aspects
of open source software. In addition to Mozilla, Stormy is an advisor
for HFOSS, IntraHealth Open and Open Source for America, as well as
founder and president of Kids on Computers, a nonprofit organization
setting up computer labs in developing countries. Stormy joined
Mozilla from the GNOME Foundation where she served as executive
director. Previously, she worked at OpenLogic where she set up their
OpenLogic Expert Community. Stormy graduated from Rice University with
a B.A. in Computer Science.</p>

{% endblock %}
