{% extends "base_news.html" %}

{% block title %}SFC News Index - {{ month|date:"F Y" }}{% endblock %}

{% block content %}

<h2>Conservancy News Index - {{ month|date:"F Y" }}</h2>

<ul>

{% for object in object_list %}
    <li><a href="{{ object.get_absolute_url }}"><b>{{ object.headline|safe }}</b></a><br/>
    <i>{{ object.pub_date|date:"F j, Y" }}</i></li>
{% endfor %}

</ul>

{% endblock %}
