{% extends "base_news.html" %}

{% block subtitle %}{{ object.headline|striptags }} - {% endblock %}

{% block content %}

<div id="mainContent">
<p class="date">{{ object.pub_date|date:"F j, Y" }}</p>
<h2>{{ object.headline|safe }}</h2>
{% if object.subhead %}
<h3>{{ object.subhead|safe }}</h3>
{% endif %}

{{ object.summary|safe }}

{{ object.body|safe }}
</div>
{% endblock %}
