{% extends "base_news.html" %}

{% block title %}Conservancy News Index - {{ year }}{% endblock %}

{% block content %}

         <div id="mainContent">
<h2>Conservancy News Index - {{ year }}</h2>

<ul>

{% for object in object_list %}
    <li><a href="{{ object.get_absolute_url }}"><b>{{ object.headline|safe }}</b></a><br/>
    <i>{{ object.pub_date|date:"F j, Y" }}</i></li>
{% endfor %}

</ul>
         </div>
{% endblock %}
