{% extends "base_about.html" %}
{% block subtitle %}Officers - {% endblock %}
{% block submenuselection %}Officers{% endblock %}
{% block content %}

<h1>Officers</h1>

<p>The <a href="/about/board/">Board of Directors</a> of the Conservancy
elects its officers.  The current officers are:</p>

<h2>Bradley M. Kuhn - President and Board Chairperson</h2>

<p>Bradley M. Kuhn began his work in the Free Software Movement as a
volunteer when, in 1992, he became an early adopter of the popular
GNU/Linux operating system, and began contributing to various Free
Software projects.  He worked during the 1990s as a system administrator
and software development consultant for Westinghouse, Lucent Technologies,
and numerous small companies.  He also spent one year teaching Advanced
Placement Computer Science (using GNU/Linux and GCC) at Walnut Hills High
School in Cincinnati.  In January 2000, he was hired by the Free Software
Foundation (FSF), and he served as its Executive Director from March 2001
until March 2005, when he left FSF to join the Software Freedom Law Center
(SFLC), where he worked as SFLC's Policy Analyst and Technology Director from
2005 until October 2010, when he joined Conservancy as its Executive
Director.  Kuhn holds a summa cum laude B.S. in Computer Science from
Loyola College in Maryland, and an M.S. in Computer Science from the
University of Cincinnati.  His Master's thesis discussed methods for
dynamic interoperability of Free Software languages.</p>

<h2>Mark Galassi - Vice-President</h2>

<p>Mark Galassi has been involved in the GNU project since 1984.  He
currently works as a researcher in the International, Space, and Response
division at Los Alamos National Laboratory, where he has worked on the
HETE-2 satellite, ISIS/Genie, the Raptor telescope, the Swift satellite,
and the muon tomography project.  In 1997, Mark took a couple of years off
from Los Alamos (where he was previously in the ISR division and the
Theoretical Astrophysics group) to work for Cygnus (now a part of Red Hat)
writing software and books for eCos, although he continued working on the
HETE-2 satellite (an astrophysical Gamma Ray Burst mission) part
time. Mark earned his BA in Physics at Reed College and a PhD from the
Institute for Theoretical Physics at Stony Brook. </p>

<h2>Peter Brown -  Treasurer</h2>

<p>Peter Brown has worked in non-profit management and finance for more
   than twenty years. He served as the Executive Director of the Free
   Software Foundation from 2005 until 2011, and previously as its
   Financial Controller and GPL Compliance Lab Manager. Peter has also
   been a Director of New Internationalist Publications Cooperative, and
   worked in London for BBC Network Radio.</p>


<h2>Karen Sandler - Secretary</h2>
<a id="karen"></a>

<p>Karen M. Sandler is currently the Executive Director of the GNOME
  Foundation and prior to taking up this position was General Counsel of
  the Software Freedom Law Center (SFLC). Karen continues to
  do <a href="/about/outside#karen">pro bono legal work with
  Conservancy</a>, SFLC, and Question Copyright and serves as an officer
  of both the Conservancy and SFLC.  Before joining SFLC, Karen worked as
  an associate in the corporate departments of Gibson, Dunn & Crutcher LLP
  in New York and Clifford Chance in New York and London. Karen received
  her law degree from Columbia Law School in 2000, where she was a James
  Kent Scholar and co-founder of the Columbia Science and Technology Law
  Review. Karen received her bachelor’s degree in engineering from The
  Cooper Union. She is a recipient of an O'Reilly Open Source Award and
  also co-host of the <a href="http://faif.us">&ldquo;Free as in
  Freedom&rdquo; podcast</a>.</p>



{% endblock %}
