{% extends "base_about.html" %}
{% block subtitle %}Contact - {% endblock %}
{% block submenuselection %}Contact{% endblock %}
{% block content %}

<h1>Contact the Conservancy</h1>

<p>The best way to contact the Conservancy is via email
to <a href='mailto:info@sfconservancy.org'>&lt;info@sfconservancy.org&gt;</a>.
We do our best to respond to all email within a reasonable time period.
If you don't hear from us within a week, please try again.</p>

<h2>Telephone</h2>
<p>+1-212-461-3245<br />
</p>

<h2>Postal Address</h2>
<p>Software Freedom Conservancy, Inc.<br />
137 MONTAGUE ST  STE 380<br/>
Brooklyn, NY 11201-3548

<h2>Internet Relay Chat</h2>

<p>Our IRC channel is #conservancy on irc.freenode.net.</p>

{% endblock %}
