{% extends "base_members.html" %}
{% block subtitle %}Current Member Projects - {% endblock %}
{% block submenuselection %}Current{% endblock %}
{% block content %}

<h1>Current Member Projects</h1>

<p>Conservancy is currently home to twenty-seven member projects.</p>

<h2><a href="http://amarok.kde.org/">Amarok</a></a></h2>

<p>Amarok is a powerful music player with the aim to help people
rediscover music. It offers powerful collection management, context
information, integration of online services and a lot more.</p><p>Amarok
  is also affiliated with the KDE for project software development.</p>

<h2><a href="http://argouml.tigris.org/">ArgoUML</a></h2>

<p>ArgoUML is the leading open source UML modeling tool and includes
support for all standard UML 1.4 diagrams. It runs on any Java platform
and is available in ten languages. See the feature list for more details.</p>

<h2><a href="http://bongo-project.org/">Bongo</a></h2>

<p>The Bongo Project is creating fun and simple mail, calendaring and
contacts software: on top of a standards-based server stack; we're
innovating fresh and interesting web user interfaces for managing
personal communications. Bongo is providing an entirely free software
solution which is less concerned with the corporate mail scenario and
much more focused on how people want to organize their lives.</p>

<h2><a href="http://www.boost.org/">Boost</a></h2>

<p>Boost provides free peer-reviewed portable C++ source libraries.</p>

<p>Boost emphasizes libraries that work well with the C++ Standard
  Library.  Boost libraries are intended to be widely useful, and usable
  across a broad spectrum of applications.  The Boost license encourages
  both commercial and non-commercial use.</p>

<p>Boost aims to establish &ldquo;existing practice&rdquo; and provide
reference implementations so that Boost libraries are suitable for
eventual standardization. Ten Boost libraries are already included in the
C++ Standards Committee's Library Technical Report (TR1) as a step toward
becoming part of a future C++ Standard. More Boost libraries are proposed
for the upcoming TR2.</p>

<h2><a href="http://www.busybox.net">BusyBox</a></h2>

<p>BusyBox combines tiny versions of many common UNIX utilities into a
single small executable. It provides replacements for most of the
utilities you usually find in GNU fileutils, shellutils, etc. The
utilities in BusyBox generally have fewer options than their
full-featured GNU cousins; however, the options that are included
provide the expected functionality and behave very much like their GNU
counterparts. BusyBox provides a fairly complete environment for any
small or embedded system.</p>

<p>BusyBox has been written with size-optimization and limited
resources in mind. It is also extremely modular so you can easily
include or exclude commands (or features) at compile time. This makes
it easy to customize your embedded systems. To create a working
system, just add some device nodes in /dev, a few configuration files
in /etc, and a Linux kernel.</p>


<h2><a href="http://darcs.net/">Darcs</a></h2>

<p>Darcs is a distributed revision control system written in Haskell. In
Darcs, every copy of your source code is a full repository, which allows for
full operation in a disconnected environment, and also allows anyone with
read access to a Darcs repository to easily create their own branch and
modify it with the full power of Darcs' revision control. Darcs is based on
an underlying theory of patches, which allows for safe reordering and
merging of patches even in complex scenarios. For all its power, Darcs
remains a very easy to use tool for every day use because it follows the
principle of keeping simple things simple.  Darcs is free software
licensed under the GNU GPL.</p>

<h2><a href="http://evergreen-ils.org/">Evergreen</a></h2>

<p>The Evergreen Project develops an open source ILS (integrated library
system) used by hundreds of libraries across the world. The software, also
called Evergreen, is used by libraries to provide their public catalog
interface as well as to manage back-of-house operations such as
circulation (checkouts and checkins), acquisition and cataloging of
library materials, and sharing resources among groups of libraries and
consortia on the same Evergreen system.  Evergreen is designed to be
scalable and supports library operations ranging from a small high school
to large state-wide consortia.  Evergreen is released under
the <a href="http://www.gnu.org/licenses/gpl-2.0.html">GPLv2</a>-or-later.</p>

<h2><a href="http://www.foresightlinux.org/">Foresight Linux</a></h2>

<p>Foresight is a desktop operating system featuring an intuitive user
interface and a showcase of the latest desktop software, giving users
convenient and enjoyable access to their music, photos, videos,
documents, and Internet resources.</p>

<p>As a Linux distribution, Foresight sets itself apart by eliminating
the need for the user to be familiar with Linux.</p>

<h2><a href="http://www.gevent.org/">Gevent</a></h2>

<p>Gevent is a fast, coroutine-based networking library for Python.
Gevent is used in network applications, including servers that scale
up to tens thousands of connections but without the complexity usually
associated with event-driven architecture.</p>

<p>Gevent provides light-weight &ldquo;green&rdquo; threads with a similar
interface as the standard &ldquo;threading&rdquo; and
&ldquo;multiprocessing&rdquo; packages.  The library includes a DNS
resolver, a WSGI server, a monkey patching utility to make 3rd party
protocol implementations cooperative and support for SSL sockets.</p>

<h2><a href="http://www.git-scm.org/">Git</a></h2>

<p>Git is a free and open source distributed version control system
  designed to handle everything from small to very large projects with
  speed and efficiency.</p>

<p>Every Git clone is a full-fledged repository with complete history and
  full revision tracking capabilities, not dependent on network access
  or a central server. Branching and merging are fast and easy to do.</p>

<p>Git is used for version control of files, much like tools such as
  Mercurial, Bazaar, Subversion, CVS, Perforce, and Visual SourceSafe.</p>

<h2>GPL Compliance Project for Linux Developers</h2>

<p>The GPL Compliance Project for Linux Developers is comprised of
copyright holders in the kernel, Linux, who have contributed to Linux
under its license, the GPLv2. These copyright holders have formally asked
Conservancy to engage in compliance efforts for their copyrights in the
Linux kernel.</p>

<h2><a href="http://www.inkscape.org/">Inkscape</a></h2>

<p>Inkscape is an Open Source vector graphics editor, with capabilities
similar to Illustrator, Freehand, CorelDraw, or Xara X using the
open-standard Scalable Vector Graphics (SVG) file format. Inkscape's
main goal is to create a powerful and convenient drawing tool fully
compliant with XML, SVG, and CSS standards.</p>

<p>In contrast to raster (bitmap) graphics editors such as Photoshop or
Gimp, Inkscape stores its graphics in a vector format. Vector graphics
is a resolution-independent description of the actual shapes and
objects that you see in the image. This description is then used to
determine how to plot each line and curve at any resolution or zoom
level.</p>

<h2><a href="http://www.k-3d.org">K-3D</a></h2>

<p>K-3D is the free-as-in-freedom 3D modeling, animation, and rendering
system for GNU/Linux, MacOSX, and Windows operating systems. K-3D is based
on a powerful Visualization Pipeline that enables procedural modeling and
a robust plugin architecture, and is designed to scale to the needs of
professional artists.</p>

<h2><a href="http://kohanaframework.org">Kohana</a></h2>

<p>Kohana is an elegant HMVC PHP5 framework that provides a rich set of
components for building web applications.  It requires very little
configuration, fully supports UTF-8 and I18N, and provides many of the
tools that a developer needs within a highly flexible system. The
integrated class auto-loading, cascading filesystem, highly consistent
API, and easy integration with vendor libraries make it viable for any
project, large or small.</p>

<h2><a href="http://libbraille.org/">Libbraille</a></h2>

<p>Libbraille is a computer shared library which makes it possible to
easily develop software for Braille displays. It provides a simple API
to write text on the display, directly draw dots, or get the value of
keys pressed on the Braille keyboard. Libbraille supports a wide range
of Braille displays with a serial or USB connection and can
auto-detect most of them. Libbraille supports the terminals of the
following manufacturers: Alva, Baum, Blazie Engineering, EuroBraille,
HandyTech, Hermes, ONCE, Papenmeier, Pulse Data, TechniBraille and
Tieman.</p>

<h2><a href="http://www.mifos.org">Mifos</a></h2>

<p>Mifos is an award-winning Open Source software platform for microfinance,
leveraging a modern stack of Open Source technology frameworks to provide
microfinance institutions with the scalability and flexibility needed to
grow. In 2009, Mifos was awarded with the Duke's Choice Award for Best
Java Technology for the Open Source Community.</p>

<h2><a href="http://www.selenic.com/mercurial/wiki/">Mercurial</a></h2>

<p>Mercurial is a fast, lightweight Source Control Management system
which can track revisions to software during development.  Since its
conception in April 2005, Mercurial has been adopted by many projects
for revision control, including Xen, One Laptop Per Child, and the
Advanced Linux Sound Architecture (ALSA).  Mercurial runs on Unix-like systems, Mac
OS X, and Windows computers, and it is licensed under the GNU General
Public License.</p>

<h2><a href="http://www.openchange.org/">OpenChange</a></h2>

<p>OpenChange aims to provide a portable Open Source implementation of
  Microsoft Exchange Server and Exchange protocols.  Exchange is a
  groupware server designed to work with Microsoft Outlook, and providing
  features such as a messaging server, shared calendars, contact
  databases, public folders, notes and tasks.</p>

<h2><a href="http://pypy.org/">PyPy</a></h2>

<p>The PyPy project aims to provide:
<ul>
<li>a common translation and support framework for producing
implementations of dynamic languages, emphasising a clean
separation between language specification and implementation
aspects.</li>
<li>a compliant, flexible and fast implementation of the Python Language
using the above framework to enable new advanced features without having
to encode low level details into it.</li></ul>
</p>

<h2><a href="http://us1.samba.org/samba/">Samba</a></h2>

<p>Samba is a FOSS suite that provides seamless file and print
services to SMB/CIFS clients, namely, to Microsoft Windows. Samba is
freely available, unlike other SMB/CIFS implementations, and allows
for interoperability between Linux/Unix servers and Windows-based
clients.  Samba is software that can be run on a platform other than
Microsoft Windows. For example, Samba runs on Unix, GNU/Linux, IBM
System z, Solaris, Mac OS X, and OpenVMS, among others. It is
standard on virtually all distributions of GNU/Linux and is commonly
included as a basic system service on other UNIX-based systems as
well. Samba uses the TCP/IP protocol that is installed on the host
server.</p>

<p>One of the key goals of the project is to remove barriers to
interoperability. Samba is a software package that gives network
administrators flexibility and freedom in setup, configuration, choice
of systems, and equipment. Samba is released under the GPL.</p>

<h2><a href="http://seleniumhq.org">Selenium</a></h2>

<p>Selenium is a suite of tools for browser automation. It is composed of
&ldquo;IDE&rdquo;, a recording and playback mechanism,
&ldquo;WebDriver&rdquo; and &ldquo;RC&rdquo; which provide APIs for
browser automation in a wide variety of languages, and &ldquo;Grid&rdquo;,
which allows many tests using the APIs to be run in parallel. It works
with most browsers, including Firefox, Internet Explorer, Google Chrome,
Safari and Opera.</p>

<h2><a href="http://squeak.org/">Squeak</a></h2>

<p>Squeak is a modern, open source, full-featured implementation of
the powerful Smalltalk programming language and environment. Squeak is
highly-portable - even its virtual machine is written entirely in
Smalltalk making it easy to debug, analyze, and change. Squeak is the
vehicle for a wide range of projects from multimedia applications,
educational platforms to commercial web application development.</p>

<h2><a href="http://sugarlabs.org">Sugar Labs</a></h2>

<p>Sugar is a learning platform that reinvents how computers are used for
education.  Sugar's focus on sharing, criticism, and exploration is
grounded in the culture of free software.  Sugar Labs' mission is to
produce, distribute and support the use of the Sugar learning platform.
Sugar Labs supports the community of educators and software developers who
want to extend the platform.  Sugar is a community project: under the
Sugar Labs umbrella hundreds of software developers and thousands of
educators work together to build, disseminate, and support Sugar.<p>

<h2><a href="http://surveyos.sourceforge.net/">SurveyOS</a></h2>

<p>The Survey Open Source (SurveyOS) Project is a non-profit project of
the Software Freedom Conservancy dedicated to fostering cooperation
between land surveyors and GIS professionals through the development of
open source software and open technology standards. The SurveyOS Project
currently devotes programming efforts and source code to the open source
desktop GIS program known as OpenJUMP. It also dedicates a set of AutoLISP
source code via the GPL that can be used to add surveying and geospatial
functionality to other software.</p>

<h2><a href="http://www.swig.org/">SWIG</a></h2>

<p>SWIG is a software development tool that connects programs written in C
and C++ with a variety of high-level programming languages.  SWIG is used
with different types of languages including common scripting languages
such as Perl, PHP, Python, Tcl and Ruby. The list of supported languages
also includes C&#35;, Java, Lua, Octave and R amongst others. SWIG is most
commonly used to create high-level interpreted or compiled programming
environments, user interfaces, and as a tool for testing and prototyping
C/C++ software.</p>

<h2><a href="http://twistedmatrix.com/">Twisted</a></h2>
<p>Twisted is an event-based engine for Internet applications, written in
Python. Twisted supports TCP, SSL and TLS, UDP, Unix sockets, multicast,
and serial ports. It also includes a Web server, an SMTP/POP3 server, a
telnet server, an SSH server, an IRC server, a DNS server, and of course
APIs for creating new protocols. It supports integration with GTK+ 2, Qt,
Tkinter, wxPython, Mac OS X (PyObjC) and Win32 event loops.</p>

<h2><a href="http://www.uclibc.org/">uCLibc</a></h2>

<p>uClibc (pronounced yew-see-lib-see) is a C library
for developing embedded Linux systems. It is much smaller than the GNU
C Library, but nearly all applications supported by glibc also work
perfectly with uClibc. Porting applications from glibc to uClibc
typically involves just recompiling the source code. uClibc even
supports shared libraries and threading. It currently runs on standard
Linux and MMU-less (also known as uClinux) systems with support for
alpha, ARM, cris, i386, i960, h8300, m68k, mips/mipsel, PowerPC, SH,
SPARC, and v850 processors.</p>

<h2><a href="http://www.winehq.org/">Wine</a></h2>

<p>Wine is an Open Source implementation of the Windows API on top of
X and Unix.  It is a compatibility layer for running Windows
programs. Wine does not require Microsoft Windows, as it is a
completely free alternative implementation of the Windows API
consisting of 100% non-Microsoft code, however Wine can optionally use
native Windows DLLs if they are available. Wine provides both a
development toolkit for porting Windows source code to Unix as well as
a program loader, allowing many unmodified Windows programs to run on
x86-based Unixes, including Linux, FreeBSD, and Solaris</p>

{% endblock %}
