{% extends "base_conservancy.html" %}
{% block outercontent %}
    <div id="container">
         <div id="sidebar" class="{% block submenuselection %}other{% endblock %}">
            <h2>{% block category %}Members{% endblock %} Projects &amp; Services</h2>
            <ul>
            <li class="Current"><a href="/members/current/">Current Member Projects</a></li>
            <li class="Services"><a href="/members/services/">Member Project Services</a></li>
            <li class="Applying"><a href="/members/apply/">Applying</a></li>
            </ul>
         </div>
               <div id="mainContent">{% block content %}{% endblock %}
               </div>
   </div>
{% endblock %}
