{% extends "base_conservancy.html" %}

{% block category %}blog{% endblock %}

{% block head %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="/feeds/blog/" />
{% endblock %}

{% block outercontent %}
 <div id="container">
         <div id="sidebar" class="{% block submenuselection %}other{% endblock %}">
<h2>Authors</h2>
<ul>
{% for author in all_authors %}
<li><a href="/blog/?author={{ author.username }}">{{ author.formal_name }}</a>
(<a href="/feeds/blog/?author={{ author.username }}">rss</a>)</li>
{% endfor %}
</ul>

<h2>Tags</h2>
<ul>
{% for tag in all_tags %}
<li><a href="{{ tag.get_absolute_url }}">{{ tag.label }}</a>
(<a href="/feeds/blog/?tag={{ tag.slug }}">rss</a>)</li>
{% endfor %}
</ul>

<h2><a href="/blog/">See all posts&hellip;</a></h2>
<!-- <p><a href="/blog/query/">Query...</a></p> !--->
         </div>
               <div id="mainContent">{% block content %}{% endblock %}
               </div>
   </div>
{% endblock %}
