{% extends "base_conservancy.html" %}
{% block outercontent %}
    <div id="container">
         <div id="sidebar" class="{% block submenuselection %}other{% endblock %}">
            <h2>{% block category %}About{% endblock %}</h2>
            <ul>
            <li class="Contact"><a href="/about/contact">Contact</a></li>
            <li class="Directors"><a href="/about/board/">Directors</a></li>
            <li class="Officers"><a href="/about/officers/">Officers</a></li>
            <li class="Staff"><a href="/about/staff/">Staff</a></li>
            <li class="Outside"><a href="/about/outside/">Outside Counsel &amp; Contractors</a></li>
            <li class="Filings"><a href="/about/filings/">Filings</a></li>
            <li class="License"><a href="/about/license/">License &amp; Sources</a></li>
            </ul>
         </div>
               <div id="mainContent">{% block content %}{% endblock %}
               </div>
   </div>
{% endblock %}
