<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <title>{% block title %}{% block subtitle %}{% endblock %}Software Freedom Conservancy{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="The Software Freedom Conservancy provides a non-profit home and services to Free, Libre and Open Source Software (FLOSS) projects." />
    <meta name="keywords" content="software, freedom, conservancy, open source, gnu, GNU, Open Source, Free and Open Source, Free and Open Source Software, FLOSS, FOSS, protect, protection, help, policy, linux, non-profit" />
    <link rel="stylesheet" type="text/css" media="screen, projection" href="/conservancy.css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    {% block head %}{% endblock %}
  </head>

  <body class="conservancy-{% block category %}other{% endblock %}">
    <div id="conservancyheader">
      <h1><span id="logobutton"><a href="/">Software Freedom Conservancy</a></span></h1>
    </div>
    <div id="navbar-outer">
      <div id="navbar">
	<ul>
          <li class="overview"><a href="/overview/">Overview</a></li>
          <li class="news"><a href="/news/">News</a></li>
          <li class="blog"><a href="/blog/">Blog</a></li>
	  <li class="Members"><a href="/members/">Member Projects &amp; Services</a></li>
          <li class="About"><a href="/about/">About</a></li>
	  <li class="sponsors"><a href="/sponsors/">Sponsors</a></li>
	  <li class="donate"><a href="/donate/">Support Conservancy!</a></li>
	</ul>
      </div>
      <div id="navbar-clear"></div>
    </div>
      {% block outercontent %}<div id="mainContent">{% block content %}{% endblock %}</div>{% endblock %}
    <div id="conservancyfooter">
      <p><a href="/">Main Page</a> | <a href="/about/contact/">Contact</a> | <a href="/sponsors/">Sponsors</a> | <a href="/privacy-policy/">Privacy Policy</a> | <a href="/feeds/omnibus/">RSS Feed</a></p>
      <p>Follow Conservancy
      on <a href="http://identi.ca/conservancy">identi.ca</a>
      and <a href="http://twitter.com/conservancy">twitter</a>.
      <a href="http://flattr.com/thing/922714/Donate-to-Software-Freedom-Conservancy" target="_blank">
      <img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr us!" title="Flattr us!" border="0" /></a></p>
      <p class="copyright_info">
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="/img/cc-by-sa_88x31.png" /></a> 
      <br />This page is licensed under a
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative
      Commons Attribution-ShareAlike 3.0 Unported License</a>.</p>
    </div>
  </body>
</html>
