{% extends "base_conservancy.html" %}
{% load date_within %}

{% block head %}
<link rel="alternate" type="application/rss+xml" title="Software Freedom Conservancy Complete Feed" href="/feeds/omnibus/" />
<link rel="alternate" type="application/rss+xml" title="Software Freedom Conservancy News" href="/feeds/news/" />
<link rel="alternate" type="application/rss+xml" title="Software Freedom Conservancy Blogs" href="/feeds/blog/" />
{% endblock %}

{% block content %}

<div class="singleColumn">

<h1>The Software Freedom Conservancy</h1>

<p>The Software Freedom Conservancy is a not-for-profit organization that
  helps promote, improve, develop, and defend Free, Libre, and Open Source
  Software (FLOSS) projects.  Conservancy provides a non-profit home and
  infrastructure for FLOSS projects.  This allows FLOSS developers to
  focus on what they do best &mdash; writing and improving FLOSS for the
  general public &mdash; while Conservancy takes care of the projects' needs that
  do not relate directly to software development and documentation.</p>
</div>

<div class="columns">

<div class="column column-small column-left">
<p>
<h2>Learn More about Conservancy</h2>
<span class="continued"><a href="/overview/">An Overview of Conservancy&hellip;</a></span>
<span class="continued"><a href="/members/current/">Conservancy's current member projects&hellip;</a></span>
<span class="continued"><a href="/members/services/">Services that Conservancy provides to its member projects&hellip;</a></span>
</p>
<h2>Follow Conservancy RSS Feeds and Microblogs</h2>

<p>There is a <a href="/feeds/omnibus/">full site feed available</a>, as
  well as separate feeds for the <a href="/feeds/news/">news items</a> and
  <a href="/feeds/blog/">blog posts</a>.</p>

<p>You can also follow Conservancy
 on <a href="http://identi.ca/conservancy">identi.ca</a>
 and <a href="http://twitter.com/conservancy">twitter</a>.</p>


<h2>Support Conservancy</h2>
<p>As a 501(c)(3) non-profit organization, Conservancy relies on
  charitable donations for its operations.
  Please <a href="/donate/">donate generously</a> to help our work!
</p>
</div>

<div class="column column-large">
{% if press_releases.0 %}
{% if press_releases.0.pub_date|date_within_past_days:60 %}
<div class="shaded">
<h2><a href="/feeds/news/" class="feedlink"><img src="/img/feed-icon-14x14.png" alt="[RSS]"/></a> <a href="/news/">Recent News</a></h2>
<p class="date">{{ press_releases.0.pub_date|date:"F j, Y" }}</p>
<h3><a href="{{ press_releases.0.get_absolute_url }}">{{ press_releases.0.headline|safe }}</a></h3>
{{ press_releases.0.summary|safe }}
{% if press_releases.0.body %}<p><span class="continued"><a href="{{ press_releases.0.get_absolute_url }}">Read More...</a></span></p>{% endif %}
{% if press_releases.1 %}
{% if press_releases.1.pub_date|date_within_past_days:30 %}
<hr/>
<p class="date">{{ press_releases.1.pub_date|date:"F j, Y" }}</p>
<h3><a href="{{ press_releases.1.get_absolute_url }}">{{ press_releases.1.headline|safe }}</a></h3>
{{ press_releases.1.summary|safe }}
{% if press_releases.1.body %}<p><span class="continued"><a href="{{ press_releases.1.get_absolute_url }}">Read More...</a></span></p>{% endif %}
{% endif %}
{% endif %}
{% if press_releases.2 %}
{% if press_releases.2.pub_date|date_within_past_days:25 %}
<hr/>
<p class="date">{{ press_releases.2.pub_date|date:"F j, Y" }}</p>
<h3><a href="{{ press_releases.2.get_absolute_url }}">{{ press_releases.2.headline|safe }}</a></h3>
{{ press_releases.2.summary|safe }}
{% if press_releases.2.body %}<p><span class="continued"><a href="{{ press_releases.2.get_absolute_url }}">Read More...</a></span></p>{% endif %}
{% endif %}
{% endif %}
</div>
{% endif %}
{% endif %}
<p><span class="continued"><a href="/news/">Conservancy News
      Archive&hellip;</a></p>
{% if blog.0.is_recent %}
<h2><a href="/feeds/blog/" class="feedlink"><img src="/img/feed-icon-14x14.png" alt="[RSS]"/></a> <a href="/blog/">Conservancy Blog</a></h2>
<div class="shaded">
<p class="date">{{ blog.0.pub_date|date:"F j, Y" }}</p>
<h3><a href="{{ blog.0.get_absolute_url }}">{{ blog.0.headline|safe }}</a></h3>
{{ blog.0.summary|safe }}
<p><span class="continued"><a href="{{ blog.0.get_absolute_url }}">Read More...</a></span></p>
<p class="small date">Posted by {{ blog.0.author.formal_name }}</p>
{% endif %}

{% if blog.1.is_recent %}
<div class="shaded">
<p class="date">{{ blog.1.pub_date|date:"F j, Y" }}</p>
<h3><a href="{{ blog.1.get_absolute_url }}">{{ blog.1.headline|safe }}</a></h3>
{{ blog.1.summary|safe }}
<p><span class="continued"><a href="{{ blog.1.get_absolute_url }}">Read More...</a></span></p>
<p class="small date">Posted by {{ blog.1.author.formal_name }}</p>
<p><a href="/blog/">Conservancy Blog Archive...</a></p>
</div>
{% else %}
<p><span class="continued"><a href="/blog/">Conservancy Blog Archive&hellip;</a></p>
</div>
{% endif %}
</div>
</div>
{% endblock %}
