{% extends "base_members.html" %}
{% block subtitle %}Member Project Services - {% endblock %}
{% block submenuselection %}Applying{% endblock %}
{% block content %}

<h1> Applying to Join Conservancy as a Member Project</h1>

<p>Conservancy's Evaluation Committee considers  applications monthly on a
  rolling basis.  Currently, Conservancy has dozens of projects in
  various stages of the application process.</p>

<p>The application process is somewhat informal.  New applicants should
  write an initial inquiry email
  to <a href="mailto:apply@sfconservancy.org">&lt;apply@sfconservancy.org&gt;</a>
  with a very brief description of their project and a URL to their
  project's website.  We'll send back initial questions (if any), and
  after those questions are answered, we'll send the full application
  materials.  Applications should be submitted in plain ASCII text via
  email.</p>

<p>Projects are reviewed by Conservancy's Evaluation Committee, which is
  chartered by Conservancy's <a href="/about/board/">Board of
  Directors</a>.</p>

<h1>Project Membership Application FAQs</h1>

<p>The following are various questions that we typically get from project
  leaders that wish to apply to Conservancy.</p>


<h2>I sent in my inquiry letter and/or application a long time ago.  Why haven't you replied?</h2>

<p>Conservancy receives an overwhelming level of interest and we have very few
  <a href="http://sfconservancy.org/about/staff/">staff positions</a> to
  meet the interest and demand
  for <a href="http://sfconservancy.org/members/services/">Conservancy's
  services</a> to its member projects.  Meanwhile, Conservancy always
  prioritizes needs of
  its <a href="http://sfconservancy.org/members/current/">existing member
  projects</a> over new inquiries and applications.  Therefore, it
  sometimes can take quite a while to finish the application process and
  be offered membership, but please note that such delays mean that should
  your project ultimately become a member project, your project will then
  be a beneficiary of this policy.</p>

<h2>What are the key criteria our project must meet to join?</h2>

<p>In order to join, projects need to meet certain criteria.  A rough
  outline of those criteria are as follows:</p>
<p>
<ul><li>The project must be a software development or documentation
    project.  Non-software projects to advance the cause of software
    freedom, while important and useful, are beyond the scope of
    Conservancy.</li>

    <li>The project must be exclusively devoted to the development and
    documentation of FLOSS.  The project's goals must be consistent with
    the Conservancy's tax-exempt purposes, and other requirements imposed
    on Conservancy by the IRS' 501(c)(3) rules.  Namely, the goal of the
    project must to develop and document the software in a not-for-profit
    way to advance the public good, and must develop the software in
    public.</li>

    <li>The project must be licensed in a way fitting with software
      freedom principles.  Specifically, all software of the project
      should be licensed under a license that is listed both as
      a <a href="http://www.gnu.org/licenses/license-list.html">Free
      Software license by the Free Software Foundation</a> and as
      an <a href="http://www.opensource.org/licenses/alphabetical">Open
      Source license by the Open Source Initiative</a>.  All software
      documentation for the project should be licensed under a license on
      the preceding lists, or under Creative
      Commons' <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC-By-SA</a>
      or <a href="http://creativecommons.org/licenses/by/3.0/">CC-By</a>
      or
        <a href="http://creativecommons.org/choose/zero/">CC-0</a>.</li>

   <li>The project should have an existing, vibrant, diverse community
      that develops and documents the software.  For example, projects
      that have been under development for less than a year or only a
      &ldquo;proof of concept&rdquo; implementation are generally not
      eligible.</li>
</ul>
</p>

<p>While any project meeting the criteria above can apply, meeting these
  criteria doesn't guarantee acceptance of your project.  The Conservancy
  favors projects that are well-established and have some track record of
  substantial contributions from a community of volunteer developers.
  Furthermore, the Conservancy does give higher priority to projects that
  have an established userbase and interest, but also tries to accept some
  smaller projects with strong potential.</p>

<h2>Is our project required to accept membership if offered?</h2>

<p>Not at all.  Many projects apply and subsequently decide not to join a
  non-profit, or decide to join a different non-profit entity.  Don't
  worry about &ldquo;wasting our time&rdquo; if your project's developers
  aren't completely sure yet if they want to join Conservancy.  If
  membership in Conservancy is currently a legitimate consideration for
  your project, we encourage you to apply.  We'd rather that you apply and
  turn down an offer for membership than fail to apply and have to wait
  until the next application round when you're sure.</p>

<h2>What benefits does our project get from joining?</h2>

<p>We maintain a <a href="/members/services">detailed list of services
    that Conservancy provides to member projects</a>.  If you have
    detailed questions about any of the benefits, please
    ask <a href="mailto:apply@sfconservancy.org">&lt;apply@sfconservancy.org&gt;</a>.</p>

<h2>Conservancy seems to be called a &ldquo;fiscal sponsor&rdquo; to its
  member projects.  Does that mean you give our project money if we join?</h2>

<p>It's true that we would love to fund our member projects if it were
  possible, because we believe they deserve to be funded.  However, that's
  not typically what a fiscal sponsor does.  The term &ldquo;fiscal
  sponsor&ldquo; is often used in non-profit settings and has a standard
  meaning there.  But, to those not familiar with non-profit operations,
  it comes across as a bit of a misnomer.</p>

<p>In this context, a fiscal sponsor is a non-profit organization that,
  rather than fund a project directly, provides the required
  infrastructure and facilitates the project's ability to raise its own
  funds.  Conservancy therefore assists your project in raising funds, and
  allows your project to hold those funds and spend them on activities
  that simultaneously advance the non-profit mission of the Conservancy
  and the FLOSS development and documentation goals of the project.</p>

<h2>What will the project leaders have to agree to if our project joins?</h2>

<p>Once you're offered membership, Conservancy will send you a draft
  fiscal sponsorship agreement (FSA).  A template
  of <a href="/members/apply/ConservancyFSATemplate.pdf">Conservancy's FSA
  is available in PDF</a> (and
  in <a href="/members/apply/conservancy-fsa-template.tex">LaTeX</a>).
  Please note that the preceding documents are <strong>only
  templates</strong>.  Please do not try to fill one out and send it to
  Conservancy.  The final FSA between Conservancy and your project needs
  to be negotiated between us, and as can been seen in the template, the
  Representation section needs substantial work.  If your project is
  offered membership, Conservancy will work with you adapt the FSA
  template to suit the needs and specific circumstances of your project.
  This is painstaking work, and it's better to complete that work after
  both Conservancy and the project are quite sure that they both want the
  project to join Conservancy.</p>


<h2>If my project joins the Conservancy, how will it change?</h2>

<p>Substantively, member projects continue to operate in the same way as
they did before joining the Conservancy.  So long as the project remains
devoted to software freedom and operates consistently with the
Conservancy's tax-exempt status, the Conservancy does not intervene in the
project's development other than to provide administrative assistance.
For example, the Conservancy keeps and maintains books and records for the
project and assists with the logistics of receiving donations, but does
not involve itself with technical or artistic decision making.  Projects
are asked, however, to keep the Conservancy up to date on their
activities.</p>

<h2>Once our project joins, who holds its assets (money, copyrights, trademarks, etc.)?</h2>

<p>The Conservancy holds assets on behalf of its member projects and
manages and disburses those assets in accordance with the wishes of the
project's leadership.  Funds received by the Conservancy on behalf of a
project are kept track of separately for each specific project and the
management of those funds is directed by the project.  For example, if a
donor wanted to contribute $100 to Project Foo, they would formally make
the donation to the Conservancy and identify Project Foo as the desired
project to support.  The Conservancy would then deposit the check and
earmark the funds for use by Project Foo.  Project Foo would then tell the
Conservancy how that money should be spent.  As long as that expense is a
legitimate non-profit expense fitting with Conservancy's non-profit
  mission, Conservancy pays the expense on the Project's behalf.</p>

<p>Similarly, any copyrights, trademarks, domain name or other assets
transferred to a project can also be held by the Conservancy on behalf of
the project.  A significant service that the Conservancy provides its
members is a vehicle through which copyright ownership in the project can
be unified.  There are several advantages to having a consolidated
copyright structure, including that it makes enforcement activity easier
and more effective.  However, copyright, trademark, and domain name
assignment is not a requirement in order to join the Conservancy, rather,
it is an option for those projects that ask for it.</p>

<h2>If our project joins, must it be a member project of Conservancy forever?</h2>

<p>All agreements between member projects and the Conservancy stipulate
clearly that the member project can leave the Conservancy with a few
months' notice.  Federal tax exemption law, though, states that projects
must transfer their assets from the Conservancy in a way that is
consistent with the Conservancy's not-for-profit tax status &mdash;
meaning the assets cannot be transferred to an individual or a for-profit
entity.  Generally, a project would either find another fiscal sponsor or
form their own independent tax-exempt non-profit.</p>

<p>We fully expect that some Conservancy projects will ultimately wish to
  form their own non-profit 501(c)(3) organizations; that's why we design
  our agreements with projects to allow them to leave to another 501(c)(3)
  organization.  Typically, projects join Conservancy because the project
  leaders don't want the burdens of running a non-profit themselves.
  Often, as projects grow, leaders get interested in the non-profit
  management and organizational side of the activities and are then
  prepared to take on the additional work themselves.</p>

<h2>How are &ldquo;project leaders&rdquo; defined with respect to Conservancy?</h2>

<p>How leaders are chosen for projects varies greatly from project to
  project.  Our goal is to do our best to embody the &ldquo;natural&rdquo;
  leadership structure that evolved in your project into the formal
  agreement with Conservancy.  As part of the agreement drafting, we work
  carefully with you to understand your project's governance and write up
  formally with you the decision-making process you use. Most project
  contributors find this process of formalizing the leadership structure
  helps them clarify in their own minds the governance of their project,
  even though the process can be difficult.  Since it can be a complicated
  process, we suggest that you prepare your project community for this
  discussion once your project is accepted.</p>

<h2>How much does it cost us financially to join Conservancy?</h2>

<p>New Conservancy members are required to pay 10% of their revenue that
  Conservancy processes to Conservancy's general fund, which primarily is
  used to pay staff.  (Details on how Conservancy spends its funds,
  including salaries of key employees, can be found
  in <a href="http://sfconservancy.org/about/filings/">Conservancy's
  annual filings</a>.)</p>

<p>Historically, Conservancy allowed projects to give less or nothing at
  all to the general fund, but we unfortunately discovered that without
  this requirement, Conservancy was not able to offer the myriad of
  services to all its projects, particularly to larger projects that
  have more income and therefore need more attention from staff.</p>

<p>We do understand that, particularly for small projects that only
  receive a few small donations, that donating a percentage of your income
  back to Conservancy can be a high burden.  Therefore, Conservancy
  remains open to discussion on a case-by-case basis for smaller projects
  about how to handle this requirement, and applicants should feel free to
  raise any concerns about this issue during the application process.</p>

{% endblock %}
