{% extends "base_conservancy.html" %}
{% block subtitle %}Privacy Policy - {% endblock %}
{% block content %}

<h1>Privacy Policy</h1>

<p>The Software Freedom Conservancy (&ldquo;Conservancy&rdquo;) is
committed to protecting the privacy of our website visitors, our
supporters and our member projects.  In this policy,
&ldquo;Conservancy&rdquo; or &ldquo;We&rdquo; refers to the Conservancy
Board of Directors, officers, management, staff, cooperating attorneys,
interns, volunteers, and consultants. As to all of the information
described below, Conservancy will not give, sell, rent, or exchange the
information with anyone else without your prior consent, except as
compelled by law (see section on Compelled Disclosure below).</p>

<h3>Information Collected</h3> <p>When you visit our site, Conservancy may
record the numerical Internet Protocol (IP) address of the computer you
are using (and/or that of your router and/or firewall), the browser
software you use, your operating system, the date and time you access our
site, and the domain name and URL of the website from which you linked
directly to our site, in addition to other information.  We only use this
information to measure the number and types of visitors to different
sections of the site, to diagnose and correct system errors, and to
improve the site.  When you communicate with us through our site, we may
collect your name, email address, postal address, and other personal,
financial, legal or technical information, but we will make it clear on
the relevant page that we are collecting that information.</p>

<h3>Compelled Disclosure</h3> <p>If we are required by law to disclose
any of the information collected about you, we will attempt to provide
you with notice (unless we are prohibited) that a request for your
information has been made in order to give you an opportunity to
object to the disclosure. We will attempt to provide this notice by
email, if you have given us an email address, or by postal mail if you
have provided a postal address. We will independently object to overly
broad requests for access to information about users of our site. If
you do not challenge the disclosure request, we may be legally
required to turn over your information.</p>

{% endblock %}
