{% extends "base_blog.html" %}
{% block subtitle %}Conservancy Blog - {% endblock %}

{% block content %}

<h2><a href="/feeds/blog/" class="feedlink"><img src="/img/feed-icon-14x14.png" alt="[RSS]"/></a> Conservancy Blog{% if author %} &mdash; {{ author.formal_name }}{% endif %}</h2>

{% if authors or tags %}
<p>Displaying posts
{% if authors %}by {% for author in authors %}{% if not forloop.last %}{% if not forloop.first %}, {% endif %}{% endif %}<a href="{{ author.biography_url }}">{{ author.formal_name }}</a>{% ifequal forloop.revcounter 2 %} and {% endifequal %}{% endfor %}{% endif %}
{% if tags %}tagged {% for tag in tags %}{% if not forloop.last %}{% if not forloop.first %}, {% endif %}{% endif %}<a href="{{ tag.get_absolute_url }}">{{ tag.label }}</a>{% ifequal forloop.revcounter 2 %} or {% endifequal %}{% endfor %}{% endif %}
</p>
{% endif %}

{% for object in object_list %}
    <div class="shaded">
    <p class="date">{{ object.pub_date|date:"F j, Y" }} by {{ object.author.formal_name }}</p>
    <h3><a href="{{ object.get_absolute_url }}">{{ object.headline|safe }}</a></h3>
        {{ object.body|safe }}
    <p class="date small">Posted by <strong>{{ object.author.formal_name }}</strong> on {{ object.pub_date|date:"F j, Y" }}</p>
    {% if object.tags.all %}<p class="blog-tags small">Tags: {% for tag in object.tags.all %}<a href="{{ tag.get_absolute_url }}">{{ tag.label }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>{% endif %}
    </div>
{% endfor %}

<p>
{% if has_next %}<a class="next_page_button" href="?page={{ next }}{% if query_string %}&amp;{{ query_string|escape }}{% endif %}">Next page (older) &raquo;</a>{% endif %}
{% if has_previous %}<a href="?page={{ previous }}{% if query_string %}&amp;{{ query_string|escape }}{% endif %}">&laquo; Previous page (newer)</a>{% endif %}
</p>
<div class="clear"></div>

{% if date_list %}
<h3>Index by date</h3>
<ul>
{% for year in date_list %}<li><a href="{{ year|date:"Y" }}/">{{ year|date:"Y" }}</a></li>{% endfor %}
</ul>
{% endif %}

{% endblock %}
