{% extends "base_about.html" %}
{% block subtitle %}About - {% endblock %}
{% block content %}

<h1>About Software Freedom Conservancy, Inc.</h1>

<p>Software Freedom Conservancy, Inc. is a 501(c)(3) not-for-profit
organization incorporated in New York.  Conservancy is managed by
its <a href="/about/board/">board of directors</a>, who appoint
its <a href="/about/officers/">officers</a> and hire
its <a href="/about/staff/">staff</a>.  Conservancy also gets some
occasional help from <a href="/about/outside/">outside legal counsel and
contractors</a>.</p>

<p>Conservancy strives to be as transparent as possible, and makes
  its <a href="/about/filings/">public filings available on its
  website</a>.  Bradley M. Kuhn, Conservancy's Executive
  Director, <a href="/blog/">blogs regularly</a> about Conservancy's
  activities.</p>

<p>A <a href="/overview/">general overview</a> of Conservancy's
  work can be found on this site, and <a href="/members/">detailed
  information about the work that Conservancy does for its member
  projects</a> is also available.</p>

<p>If you have general questions about Conservancy and its
  work, <a href="/about/contact/">contact information</a> is available.
  Conservancy is primarily supported by <a href="/donate">your charitable
  donations</a>.</p>


{% endblock %}
