{% ifequal obj.omnibus_type "news" %}
<p><i>A <a href="http://{{ site }}/news/">news item</a> from Software Freedom Conservancy.</i></p>
{% endifequal %}
{% ifequal obj.omnibus_type "event" %}
<p><i>An <a href="http://{{ site }}/events/">upcoming event</a> related to the Software Freedom Conservancy.</i></p>
{% endifequal %}
{% ifequal obj.omnibus_type "blog" %}
<p><i>A <a href="http://{{ site }}/blog/">blog post</a> from Software Freedom Conservancy.</i></p>
{% endifequal %}
{% include obj.omnibus_feed_description_template  %}
